
#chess-board-table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  max-width: 700px;
  max-height: 700px;
}

.chess-board-cell {
  color: #AAA;
  background-color: white;
  padding: 5px;
  width: 80px !important;
  height: 80px !important;
  filter: brightness(0.8);
  user-select: none;
}

.chess-board-header {
  padding: 20px;
}

.chess-board-white {
  background-color: rgb(96, 104, 108);
}

.chess-board-black {
  background-color: rgb(132, 34, 34);
}

.chess-piece-image {
  pointer-events: none;
  height: 80px;
}

.to-move-piece {
  outline-offset: -10px;
  outline: 1px solid yellow !important;
}

.to-move-piece:hover {
  cursor: pointer;
}

.highlighted-piece-main {
  background-color: green;
}

.highlighted-piece-secondary {
  background-color: red;
}

.valid-moves {
  background-color: blue;
}

