<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chess Memory Puzzle</title>
    {% load static %}
    <link rel='stylesheet' type="text/css" href="{% static 'css/chess_home.css' %}">

    <script id="load-image-z">
      var chess_url_image_base = "{% static 'images/chess_pieces' %}/";
    </script>

    <script src="{% static 'js/chess_memory_puzzle.js' %}"></script>

    <!-- {{ puzzle_info|json_script:"memory-puzzle-get-info" }} -->
  </head>
  <body>
    <h1 id="chess_banner">Chess Puzzle</h1>
    <div id="board-table-container">
      {% include "base/BASE_chess_board.html" %}
    </div>
  </body>
</html>
