
body {
  color: #AAA;
  background-color: black;
  text-align: center;
  margin: 0 auto;
}

#board-table-container {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
}

.chess-board-cell {
  color: #AAA;
  background-color: white;
  padding: 5px;
  width: 100px;
  height: 100px;
}

.chess-board-white {
  background-color: rgb(96, 104, 108);
  filter: brightness(0.8);
}

.chess-board-black {
  background-color: rgb(132, 34, 34);
  filter: brightness(0.8);
}

.chess-piece-image {
  width: 100px;
  height: 100px;
}

