
body {
  color: #AAA;
  background-color: black;
  text-align: center;
  margin: 0 auto;
}

#board-table-container {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
}

.chess-board-cell {
  color: #AAA;
  background-color: white;
  padding: 5px;
  width: 100px;
  height: 100px;
  filter: brightness(0.8);
  user-select: none;
}

.chess-board-white {
  background-color: rgb(96, 104, 108);
}

.chess-board-black {
  background-color: rgb(132, 34, 34);
}

.chess-piece-image {
  pointer-events: none;
}

.chess-piece-image {
  width: 100px;
  height: 100px;
}

.to-move-piece {
  outline-offset: -10px;
  outline: 1px solid yellow !important;
}

.to-move-piece:hover {
  cursor: pointer;
}

.highlighted-piece-main {
  background-color: green;
}

.highlighted-piece-secondary {
  background-color: red;
}

.valid-moves {
  background-color: blue;
}

